@model EFDbFirstApproachRestaurant.Models.RestTab
@{
    ViewBag.Title = "UpdateRes";
}

<h2>Update Restaurant</h2>

<form action="/Restaurant/UpdateRes/@Model.RestId" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="RestaurantName">Restaurant Name</label>
            <input type="hidden" name="restId" value="@Model.RestId"/>
            <input type="text" name="RestName" class="form-control" id="RestaurantName" placeholder="RestaurantName.." value="@Model.RestName" />
        </div>
        @*<div class="form-group col-md-6">
            <label for="CusineType">Cusine Type</label>
            <input type="text" name="CusineType" class="form-control" id="CusineType" placeholder="CusineType(Eg:Indian).." value="@Model.CusineType" />
        </div>*@
    <div class="form-group col-md-6">
        <label for="CusineType">CusineType</label>

        <select class="form-control" id="cusinetype" name="cusinetype">
            <option value="">Plese Select CusineType</option>
            <option value="Indian">Indian</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="Indian">Nones</option>

        </select>
    </div>
    </div>
    <button type="submit" class="btn btn-success">Update Restaurant</button>
    <a class="btn btn-dark" href="/Restaurant/Index">Cancel</a>
</form>



